*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.75fr 0.2fr;
    grid-template-areas: 
    "nav nav nav nav"
    "hero hero hero hero"
    "project1 project2 project3 project4"
    "footer footer footer footer"
    ;
    grid-gap: 0.1em;
}


#nav{
    background-color: black;
    grid-area: nav;
}

#nav h1{
    text-align: center;
    color: white;
}

#project1 h2{
    text-align: center;
    padding: 5px;
    color: white;
}

#project1 p{
    text-align: center;
    color: white;
    padding: 5px;
}

#project2 h2{
    text-align: center;
    padding: 5px;
}

#project2 p{
    text-align: center;
}

#project3 h2{
    text-align: center;
    padding: 5px;
    color: white;
}

#project3 p{
    text-align: center;
    color: white;
    padding: 5px;
}

#project4 h2{
    text-align: center;
    padding: 5px;
}
 #project4 p{
    text-align: center;
 }


#hero{
    background-color:black;
    grid-area:hero;
}

#project1{
    background-color:black;
    grid-area: project1;
}

#project2{
    background-color: green;
    grid-area: project2
}

#project3{
    background-color: black;
    grid-area: project3;
}

#project4{
    background-color: green;
    grid-area: project4
}

#footer{
    background-color: black;
    grid-area: footer
}


@media(max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
        grid-template-areas:
        "nav"
        "hero"
        "project1"
        "project2"
        "project3"
        "project4"
        "footer";
    }
}