*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.75fr 0.2fr;
    grid-template-areas: 
    "nav nav nav nav"
    "hero hero hero hero"
    "project1 project2 project3 project4"
    "footer footer footer footer"
    ;
    grid-gap: 0.3em;
}


#nav{
    background-color: orange;
    grid-area: nav;
}

#hero{
    background-color: pink;
    grid-area:hero;
}

#project1{
    background-color: brown;
    grid-area: project1;
}

#project2{
    background-color: red;
    grid-area: project2
}

#project3{
    background-color: purple;
    grid-area: project3;
}

#project4{
    background-color: lime;
    grid-area: project4
}

#footer{
    background-color: yellow;
    grid-area: footer
}


@media(max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
        grid-template-areas:
        "nav"
        "hero"
        "project1"
        "project2"
        "project3"
        "project4"
        "footer";
    }
}